/*base styles start*/

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Exo 2', 'Lato', 'Helvetica Neue', sans-serif;
    background: #bcd8af;
}

/*base styles end*/